
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment Variables
.env

# Authentication State
.auth/

# Logs
logs/

# VSCode settings
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.DS_Store